@using Discountapp.MVC.Controllers
@using Discountapp.Infrastructure
@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<Discountapp.MVC.ViewModels.MerchantEntityViewModel>


@{
    ViewBag.Title = "Index";
}

@section Styles{
    <style>
        /*.dz-success-mark,
        .dz-error-mark {
            display: none;
        }

        .dz-error-message {
            color: red;
        }*/
    </style>

}
@section Scripts{
    <script>
        @*$(document).ready(() =>
        {
            //https://codepen.io/probil/pen/yyzdOM
            //https://www.sitepoint.com/file-upload-form-express-dropzone-js/
            Dropzone.options.uploadWidget = {
                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 20, //mb
                dictDefaultMessage: "Нажмите или перетащите файлы",
                dictResponseError: 'Server not Configured',
                acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg",
                //thumbnailHeight: 200,
                thumbnailWidth: 200,
                init: function ()
                {
                    var self = this;
                    console.log(self);
                    // config
                    self.options.addRemoveLinks = true;
                    self.options.dictRemoveFile = "Удалить";
                    //New file added
                    self.on("addedfile", function (file)
                    {
                        console.log('new file added ', file);
                    });
                    // Send file starts
                    self.on("sending", function (file)
                    {
                        console.log('upload started', file);
                        $('.meter').show();
                    });

                    // File upload Progress
                    self.on("totaluploadprogress", function (progress)
                    {
                        console.log("progress ", progress);
                        $('.roller').width(progress + '%');
                    });

                    self.on("queuecomplete", function (progress)
                    {
                        $('.meter').delay(999).slideUp(999);
                    });

                    // On removing file
                    self.on("removedfile", function (file)
                    {
                        console.log(file);
                    });
                }
                // accept: (data) =>
                // {
                //     console.log(data);
                // },
                // renameFilename: (data) =>
                // {
                //     console.log("renameFilename", data);
                // },
                // addedfile: (data) =>
                // {
                //     console.log("addedfile", data);
                // }
            };

            $.material.init();
            $("img.img-lazy").lazyload();
            $(".chosen-select").chosen({ disable_search_threshold: 10 });
            //$("#dropzoneField").dropzone({ url: "/file/post" });

            //ar myDropzone = new Dropzone("form#dropzoneField", { url: "/file/post"});

        });*@
    </script>
}

<section class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            @SidebBarViewHelper.Draw(nameof(MerchantController.Index), typeof(MerchantController))
        </div>
        <div class="col-lg-3 col-md-3 hidden-lg hidden-md well">
            @SidebBarViewHelper.Draw(nameof(MerchantController.Index), typeof(MerchantController))
        </div>

        <form action="">
            <div class="col-lg-9 col-md-9 well">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="h3">
                            <span class="inline-block"><a>Список сфер деятельности</a></span>
                            <span class="inline-block">
                                <a class="btn btn-default" href="@Url.Action(nameof(MerchantController.Add), nameof(MerchantController).ControllerName())">
                                    <i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i> Добавить сферу деятельности
                                </a>
                            </span>
                        </h1>
                    </div>
                </div>
                <hr class="hidden-sm hidden-xs" />
                <!--<button class="btn btn-primary btn-raised display-inline">Добавить</button>-->

                @*<ul class="filter-inline list-unstyled list-inline">
                    <li><a class="filter-inline__item active" href="">Активные&nbsp;<i class="badge badge-default">1</i></a></li>
                    <li><a class="filter-inline__item" href="">Неподтвержденные&nbsp;<i class="badge badge-default">2</i></a></li>
                    <li><a class="filter-inline__item" href="">Неактивные&nbsp;<i class="badge badge-default">3</i></a></li>
                    <li><a class="filter-inline__item" href="">Отклоненные&nbsp;<i class="badge badge-default">4</i></a></li>
                    <li><a class="filter-inline__item" href="">Все&nbsp;<i class="badge badge-default">5</i></a></li>
                    <li><a class="filter-inline__item" href="">Без акций&nbsp;<i class="badge badge-default">6</i></a></li>
                </ul>*@

                @if (((IPagedList)Model).TotalItemCount > ((IPagedList)Model).PageSize)
                {
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                }

                <hr class="hidden-sm hidden-xs" />
                <div style="overflow-x: scroll; ">
                   
                    <table class="_discount-table table table-responsive table-striped">
                        <!--<caption>Список магазинов</caption>-->
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.LogoName)</th>
                                <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
                                <th>@Html.DisplayNameFor(model => model.FullAddress)</th>
                                <th>@Html.DisplayNameFor(model => model.PromotionCount)</th>
                                @*<th>@Html.DisplayNameFor(model => model.ActiveStatus)</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var merchant in Model)
                            {
                                <tr>
                                    <td>
                                        <div>
                                            <img class="circle img-responsive" src="@Url.Content("~/" + Html.DisplayFor(modelItem => merchant.LogoName))" alt="" _style="border-radius: 100%;">
                                        </div>
                                    </td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => merchant.CompanyName)</a></td>
                                    <td>@Html.DisplayFor(modelItem => merchant.FullAddress)</td>
                                    <td>@Html.DisplayFor(modelItem => merchant.PromotionCount)</td>
                                    @*<td>@Html.DisplayFor(modelItem => merchant.ActiveStatus)</td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @if (((IPagedList)Model).TotalItemCount > ((IPagedList)Model).PageSize)
                {
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                }

            </div>
        </form>
    </div>
</section>

